In [ ]:
 course = "python programming"
print(len(course))
new_string=course.center(35,"*")
print(new_string)

18
*********python programming********

In [ ]:
course = "python programing"
print(course.startswith("py"))
print(course.endswith('ing')) # Changed 'endwith' to 'endswith'
print(course.endswith('G'))
print(course.endswith('g',6,11))

True
True
False
True

In [ ]:
a= "yeshu"
print(a.endswith('u'))

True

In [ ]:
b= "worst"
print(a.endswith('t'))

False

In [ ]:
str1 = "1456"
print(str1.isnumeric())

True

In [ ]:
str2 = "1234"
print(str2.isnumeric())

True

In [ ]:
str3 = "john henry"
print(str3.isalpha()) # false - because

False

In [ ]:
name = "john"
print(name.isnumeric())

False

mom and daughter went to mall to do shoping mom did one plan to minimal shoping by saying daughter  to check each and every shops name board and ask her to find name board is palendrome or not.

In [ ]:
s1= "race"
if s1==s1[::-1]:
  print("palindrome")
else:
  print("not a palindromr")

not a palindromr

In [ ]:
s1=input("")
if s1==s1[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

143
not a palindrome

In [ ]:
L = ['math','chem', 19,20]
L.append(20544)
print(L)

['math', 'chem', 19, 20, 20544]

In [ ]:
a=[1,2,3]
a.clear()
print(a)

[]

In [ ]:
b=["cat","dog","horse"]
print(b.index("horse"))

2

In [ ]:
z=["apple","banana","mango"]
z.pop()
print(z)

['apple', 'banana']

In [ ]:
y=["a","b","c"]
y.reverse()
print(y)

['c', 'b', 'a']

In [ ]:
s=[1,2,3,4]
s.reverse()
print(s)

[4, 3, 2, 1]

In [ ]:
num = [1, 3, 4, 2]  # Assign a list to the variable num
num.sort()
print(num)

[1, 2, 3, 4]

write python program to create a list read the element in the user insult it into list and display

In [ ]:
i = []
n = int(input("enter the size"))
for _ in range(n):
  else_num = int(input("enter the number"))
  i.append(else_num)
print(i)
  else=int (input("enter the number"))
  i.append (else)
  print([i])

IndentationError: unexpected indent (<ipython-input-8-db8dfc48921a>, line 7)

In [ ]:
l=[1,2,3]
l2=[4,5,6]
l=l+l2
print(l,l2)
print(l*3)

[1, 2, 3, 4, 5, 6] [4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

write a program that creates a list of numbers from 1 to 20 that are either divisible by 2 or 4

In [ ]:
for i in range(1,20):
 if (i%2==0  or i%4==0):
  print(i)

2
4
6
8
10
12
14
16
18

To check given year is leap year or not

In [ ]:
def is_leap_year(year):
  if (year % 4 == 0 != 0) or (year % 100 == 0 and year % 400 == 0):
    return True

Revese of given number

In [ ]:
# prompt: Reverse of given number

def reverse_number(n):
  """Reverses a given integer.

  Args:
    n: The integer to be reversed.

  Returns:
    The reversed integer.
  """
  reversed_n = 0
  while n > 0:
    remainder = n % 10
    reversed_n = (reversed_n * 10) + remainder
    n //= 10
  return reversed_n

# Get input from the user
num = int(input("Enter a number: "))

# Reverse the number
reversed_num = reverse_number(num)

# Print the reversed number
print("Reversed number:", reversed_num)

Enter a number: 55
Reversed number: 55

using a negative index print second positin value using negative index value from second position to fourth position using negative index and print n negative value

In [ ]:
t1=("1o,20,30,40,50")
print(t1[-2])
print(t1[-4])
print(t1[-2:-4])
print(t1[-2:-4])

5
0

In [ ]:
# create a tuple

nested = 1,2,("pop","rock"),(3,4),("disco",(1,2))

In [ ]:
# create a tuple
b=(-5,1,-3)
print(sorted(b))

[-5, -3, 1]

In [ ]:
from re import T
t=(1,2,3)
t1=(4,5,6)
t1=t
print(t)
t=t1
print(t)
print(t1)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [ ]:
student_id = {112,114,116,115}
print(student_id)

{112, 114, 115, 116}

In [ ]:
e={}
print(type(e))

<class 'dict'>

In [ ]:
dict={"name":"niroop","age": 34}
print(dict)

{'name': 'niroop', 'age': 34}

In [ ]:
d={}
for i in range(1,21):
  if (i%2==0):
    d[i]="even"
  else:
    d[i]="odd"
print(d)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even', 11: 'odd', 12: 'even', 13: 'odd', 14: 'even', 15: 'odd', 16: 'even', 17: 'odd', 18: 'even', 19: 'odd', 20: 'even'}

In [ ]:
d={}
a=int(input())
for i in range(-10,10):
   if a>0:
      d[a]='positive'
   else:
     d[a]='negative'
print(d)

-11
{-11: 'negative'}

In [ ]:
n = {1:'one',2:'two',3:'three',4:'four',5:'five'}
print(n)

SyntaxError: invalid syntax (<ipython-input-6-588daa46a147>, line 1)

In [ ]:
marks = {'physics': 67, 'chemistry': 72, 'math': 89}

print(marks.values())

dict_values([67, 72, 89])

In [ ]:
marks = {'physcis':67,'maths':87}
internal_marks = {'practical':48}
marks.update(internal_marks)
print(marks)

{'physcis': 67, 'maths': 87, 'practical': 48}

In a given list remove all duplicates and display in the form of list.

In [ ]:
S=set("yeswanth")
for i in S: # Changed 's' to 'S'
  print(i,end="")

sthnayew

In a given list remove all duplicates and display in the form of list.

In a given list remove all duplicates and display in the form of list.

In [ ]:
people = {"dict1": {'name':'joo', 'age': '27', 'gender': 'male'}}
print(people)

{'dict1': {'name': 'joo', 'age': '27', 'gender': 'male'}}

In [ ]:
people = {"dict2": {'name': 'monu', 'age': '22', 'gender': 'female'}}
print(people)

{'dict2': {'name': 'monu', 'age': '22', 'gender': 'female'}}

In [ ]:
people={"dict1":{"fname":"lol","lastname":{"lname":"mice","mname":"d"}},"age":25}
print(people["dict1"]["lastname"]["mname"])
del people["dict1"]["lastname"]["mname"]
print(people)

d
{'dict1': {'fname': 'lol', 'lastname': {'lname': 'mice'}}, 'age': 25}

In [ ]:
people = {1: {'name': 'john', 'age': 30, 'gender': 'male'}}  # Added age and corrected th

for p_id, p_info in people.items():
    print("\nperson id:", p_id)
    for key, value in p_info.items():  # Iterate through key-value pairs
        print(key + ':', value)

person id: 1
name: john
age: 30
gender: male

In [ ]:
people = {1: {'name': 'yeswanth', 'age': 20, 'gender': 'male','college':'gitam','branch':'cse'}}  # Added age and corrected th
,
for p_id, p_info in people.items():
    print("\npersonal information:")
    for key, value in p_info.items():  # Iterate through key-value pairs
        print(key + ':', value)

personal information:
name: yeswanth
age: 20
gender: male
college: gitam
branch: cse

In [ ]:
def calculation_a_b(a,b):
return a+b,a-b,a*b,a/b
res = calcution_a_b(30,10 )
print(result)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-1-c9d54d44fec7>, line 2)

write a program to perform largest of three numbers and write a program to perform incriment of a value and decriment of a value

In [ ]:
# Function to find the largest of three numbers
def largest_of_three(num1, num2, num3):
    return max(num1, num2, num3)

# Input from the user
try:
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
    num3 = float(input("Enter third number: "))

    largest = largest_of_three(num1, num2, num3)
    print(f"The largest number among {num1}, {num2}, and {num3} is: {largest}")
except ValueError:
    print("Please enter valid numbers.")

Enter first number: 12
Enter second number: 13
Enter third number: 14
The largest number among 12.0, 13.0, and 14.0 is: 14.0

write a program to identify vowels and consonents

incriment and decriment

In [ ]:
def i_de(a):
  return a+1,a-1
print(i_de(10))

(11, 9)

write a program to count no of elements that contain digits 5 in it using tuple and a user defined function

In [ ]:
def CDF():
  t1 =(13,54,66,35,77,65,22)
  count=0
  for i in t1:
    if "5" in str(i):
      count+=1
  print(count)
CDF() # Call the function once to execute it and print the count

3

given a tuple of elements .write a program to form only the string element in the given tuple

1: program to count no of strings where the string length is two or more
2: first and last character are same two or more length of the strings

In [ ]:
def str_count():
  list1 = ['abc','xyz','aba','1221','d','aa']  # Changed list to list1 or declare list1 before this line
  count=0
  for i in list1:
    if len(i)>=2:
      count+=1
      if (i[0]==i[-1]):
        count+=1
  print(count)  # Dedented to be outside the for loop
  return count # return count value

# Call the function and store the returned value
count_result = str_count()

# Assuming you want to print the count, not call an undefined function
print(count_result)   # Instead of str_(count), print the returned count

8
8

write a program to accept the string function and calculate the no of the upper case letters and lower case letters

In [ ]:
//def count_case(input_string):
  """Counts uppercase and lowercase letters in a string."""
  upper_count = 0
  lower_count = 0
  for char in input_string:
    if char.isupper():
      upper_count += 1
    elif char.islower():
      lower_count += 1
  return upper_count, lower_count

# Get input from the user
input_string = input("Enter a string: ")

# Count uppercase and lowercase letters
upper, lower = count_case(input_string)

# Print the results
print("Number of uppercase letters:", upper)
print("Number of lowercase letters:", lower)

Enter a string: 12
Number of uppercase letters: 0
Number of lowercase letters: 0

In [ ]:
def get_square(num):
  return num * num

for i in [1,2,3]:
    result = get_square(i)
    print('square of',i,'=',result)

square of 1 = 1
square of 2 = 4
square of 3 = 9

In [ ]:
def GCD(a,b):
  rem=a%b
  if rem==0:
    return b
  else:
    return GCD(b,rem)
print(GCD(50,5))

5

write a recrusive program by using recrusive method

In [ ]:
def reverse(string):
    if len(string) == 0:
       return string
    else:
       return reverse(string[1:]) + string[0]
reversename = 'yeswanth'
print(reverse(reversename))

htnawsey

write a recursion program for fibonacci serises

1: write a function tupe even number list and odd number list from given a list
2: write a function to positive number list and negative number list from given a list

write a recursion program on some on serises 1+2+3+

In [ ]:
def towerofHanoi(n, source, destination, auxiliary):
    if n == 1:
      print("Move disk 1 from rod", source, "to destination", destination)
      return
      towerofHanoi(n-1, source, auxiliary, destination)
      print("Move disk", n, "from rod", source, "to destination", destination)
      towerofHanoi(n-1, auxiliary, destination, source)

    # Driver code
      n = 3
      towerofHanoi(N, 'A', 'B', 'C')

write a program to duplicate elements in a list

In [ ]:
def fun( a, n):
    if(n == 1):
        return True
    for i in range(0, n - 1):
        if (a[i] == a[n - 1]):
            return True
    return fun(a, n - 1)

# Driver code
arr = [12, 10, 30, 50, 100]
print(fun(arr, 5))

True

In [ ]:
def fun(i):
    if (i % 2 == 1):
        i += 1
        return (i - 1)
    else :
        return fun(fun(i -  1))

print

write a program to print dictinory in the dictinory keys or numbers between 1 to 20 .value or cube of that key 2.same key but value will be a to z 3.multiply all the items in the dictinory

In [ ]:
d = {}
for x in range(1,21):
    d[x] = x **3
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000}

In [ ]:
import string
def create_alphabet_dictinary():
    alphabet_dict = {}
    for letter in string.ascii_lowercase:
        alphabet_dict[letter] = ord(letter)
    return alphabet_dict
alphabet_dict = create_alphabet_dictinary()
print(alphabet_dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':2417}
result = 1
for key in my_dict:
    result = result * my_dict[key]
print(result)

-13051800

In [ ]:
def add(x, y):
    return x + y

def sub(x, y):
    return x -y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y
print("select operation")
print("1.add")
print("2.sub")
print("3.multiply")
print("4.divide")

choice = input("enter choice(1/2/3/4):")

select operation
1.add
2.sub
3.multiply
4.divide
enter choice(1/2/3/4):2

In [ ]:
f=open("/content/raw.txt","r")
f.read()

'what is your name\nsalamon'

In [ ]:
with open("/content/raw.txt","r") as f :
  data=f.read()
print(data)

what is your name
salamon

In [ ]:
f=open("/content/raw.txt","r")
f.read(5)

'what '

In [ ]:
with open("/content/raw.txt","r") as f:
  data=f.read()
print(data)

what is your name
salamon

In [ ]:
f1=open('core.txt','w')
f1.writelines(['city\n','town\n'])
f1.close()

create a name dot and list of names and write that into file and read the file

In [ ]:
# example - 12:
f1=open('name.txt','w')
f1.writelines(['name1\n','name2\n','name3\n'])
f1.close()

In [ ]:
# example - 13: for admin
f1 = open("name.txt","r")
password = input("please enter the password:")
for i in f1.read():
  if password == "member@12":
    if i.isalpha():  # Nested if statement
      ch = chr((ord(i)+3))
      print(ch,end="")
  elif password=="admin@12":
    print(i,end="")
  else:
    print("you are not authorised to acess this data")
    break

f1.close()

please enter the password:123
you are not authorised to acess this data

In [ ]:
# example - 14:
f3 = open("class details.txt","a")
f3.write("this lab room number is 423")
f3.close()
f1= open ("class details.txt","r")
f1.read()

'this lab room number is 423this lab room number is 423this lab room number is 423'

In [ ]:
import re

def is_valid_email(email):
    """Checks if an email address is valid using regular expressions.

    Args:
        email: The email address to check.

    Returns:
        True if the email address is valid, False otherwise.
    """
    pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    return re.match(pattern, email) is not None

email = input("Enter an email address: ")


if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Enter an email address: yeshu@gmail.com
Valid email address

In [ ]:
# If the file does not exist, create it
try:
  with open("/content/new1.txt", "w") as f:
    # Add some content to the file if desired
    f.write("2\n")  # Example content
    f.write("3\n")  # Example content
except Exception as e:
  print(f"Error creating file: {e}")

# Then, proceed with your original code
a = open("/content/new1.txt", "r")
for i in a:
  i = i.strip()
  if i.isdigit():
    if int(i) % 2 == 0:
        print("even")
    else:
        print("odd")
a.close()

even
odd

In [ ]:
a = open("/content/new1.txt", "r")
for i in a:
    i = i.strip()
    if i.isdigit():
        if int(i) % 2 == 0:
            print("even")
        else:
            print("odd")
a.close()

odd
odd
odd

In [ ]:
import csv

try:
    with open("/content/file.csv", "r") as file:
        reader = csv.reader(file)
        for row in reader:
            print(row)
except FileNotFoundError:
    print("File not found. Creating a new file...")
    with open("/content/file.csv", "w", newline="") as file:
        writer = csv.writer(file)
        # Write some initial data if needed
        writer.writerow(["Header1", "Header2"])
        print("New file created successfully.")

File not found. Creating a new file...
New file created successfully.

In [ ]:
import numpy as np

a=np.array([1,2,3,4,5])
print(a)
print(np.mean(a))

[1 2 3 4 5]
3.0

In [ ]:
for i in range(3,-3,-1):
    try:
        print(1.0/ i)
    except ZeroDivisionError as err:
     print("zero division error", str(err.args[0]))

0.3333333333333333
0.5
1.0
zero division error float division by zero
-1.0
-0.5